.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
    margin-left: 10px;
}
.navbar-toggler{
    margin-right: 10px;
}
.navbar-collapse{
    justify-content: flex-start;
}
footer{
    background-color: black;
    color: white;
}
.nav-link:hover{
    color: grey;
}
.image-bg{
    width: 100%;
    height: 100%;
    
}
.image-bg2{
    width: 100%;
    height: 100%;
    background-image: url(./Enzo.jpg);
    filter: blur(6px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 50px;
   background: rgba(0, 0, 0, 0.5);
   padding: 20px;
   border: 5px solid;
   border-color: white;
}
.section-margin{
    margin: 0px;
    padding: 0;
}
.about-box{
    position: fixed;
    top: 80px;
    height: 400px;
    width: 45%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}
.skills{
    position: fixed;
    top: 80px;
    height: 400px;
    width: 30%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 20px;
    background-color: black;
    color: white;
    left: 50%;
    border-radius: 20px;
    border: 2px solid white;
}
.about-box-h1{
    text-align: center;
}
.links{
    position: fixed;
    top: 530px;
    height: 150px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 20px;
    width: 80%;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}